
<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->
<!-- <ul class="nav nav-pills nav-justified">
    <li class="active"><a routerLink="/Principal">Sala de Juegos</a></li>
    <li><a (click)="llamaService()">Servicio</a></li>
    <li><a (click)="llamaServicePromesa()">Serv Promesa</a></li>
    <li><a (click)="llamaServicePromesa()">Serv observable</a></li>
  </ul>
   -->
<app-nav-bar></app-nav-bar>
<h2>Listado de Resultados</h2>
<form class="form-inline my-2 my-lg-0">
  <button  class="btn btn-success my-2 mr-sm-2" (click)="filtrarLista('todos')">Todos</button>
  <button class="btn btn-primary my-2 mr-sm-2" (click)="filtrarLista('ganadores')">Ganadores</button>
  <button class="btn btn-danger my-2 mr-sm-2" (click)="filtrarLista('perdedores')">Perdedores</button>
  <button class="btn btn-warning my-2 mr-sm-2" (click)="filtrarLista('mejores5')">Mejores 10</button>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="email">Email</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Busqueda por Email"
      aria-label="email" aria-describedby="email" name="email">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="juego">Juego</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="juego" placeholder="Busqueda por Juego"
      aria-label="juego" aria-describedby="juego" name="juego">
  </div>
</form>
<app-listado-de-resultados [listado]="listadoParaCompartir | juego : juego : email"> </app-listado-de-resultados>

