#titulo {
    margin-bottom: 50px;
    font-size: 60px;
    /* 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 60px;
}

.fondo {
    background-image: url('../../../assets/imagenes/FondoCabecera.png');
    background-size: 100%;
}