<!-- <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
            <a class="navbar-brand" href="./">Sala De Juegos</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./QuienSoy#quien">Quien</a></li>
                <li><a href="/TP_LAV4_2017/QuienSoy#que">Ques es</a></li>
                <li><a href="./QuienSoy#donde">Donde</a></li>
            </ul>
        </div>
    </div>
</nav> -->
<app-nav-bar></app-nav-bar>
<!-- First Container -->
<div id="quiwn" class="container-fluid text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/quiensoy.png" class="img-responsive img-circle margin" style="display:inline" alt="Ale Gallo" width="350" height="350">
    <h3>Alejandro Gallo alumno de la UTN FRA</h3>
</div>

<!-- Second Container -->
<div id="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Mi Juego: &iexcl;AHORCADO!</h3>
    <p>Se trata del famoso Ahorcado. 
        <br>Aparecer&aacute; una palabra al azar, la cual se debe adiviniar letra a letra arriesgando con el teclado ofrecido. 
        <br>Por cada error se ir&aacute; dibujando el hombrecito que al finalizar los 9 turnos, quedar&aacute; ahorcado si
        no se lleg&oacute; a adivinar antes la palabra.
    </p>
    <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
</div>

<!-- Third Container (Grid) -->
<div id="donde" class="container-fluid bg-3 text-center">
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
            <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
            <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
            <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://www.facebook.com/Alejandro.Coco.Gallo">www.facebook.com/Alejandro.Coco.Gallo</a></p>
</footer>