/* unvisited link */

a:link {
    color: #FF0000;
}


/* visited link */

a:visited {
    color: #002fff;
}


/* mouse over link */

a:hover {
    color: #00ff33;
}


/* selected link */

a:active {
    color: #0000FF;
}