<body>
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/imagenes/JuegoRegistro.jpg" class="card-img" alt="login">
      </div>
      <div class="col-md-8">
        <div class="card text-center">
          <div class="card-body">
            <div class="card-header text-white bg-success">Nuevo Jugador</div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="nombreyapell">Nombre y Apellido</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Nombre Completo"
                aria-label="nombreyapell" aria-describedby="nombreyapell">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="apodo">Nombre de Usuario</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="nickname" placeholder="Ingrese un nombre de usuario"
                aria-label="apodo" aria-describedby="apodo">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="sexo">Sexo</label>
              </div>
              <select class="custom-select" id="sexo" [(ngModel)]="sexo">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="email">E-mail</span>
              </div>
              <input type="email" class="form-control" [(ngModel)]="email" placeholder="E-mail" aria-label="Email"
                aria-describedby="email">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="clave">Clave</span>
              </div>
              <input type="password" class="form-control" [(ngModel)]="clave" placeholder="Clave" aria-label="clave"
                aria-describedby="clave">
            </div>
            <h3>Avatar</h3>
            <div class="row">
              <div class="col-md-6">
                <app-subir-imagen (detalleImagenOutput)="imgUpload($event)"></app-subir-imagen>
              </div>
            </div>
            <hr> 
            <div class="mx-auto">
              <button type="button" class="btn btn-outline-success" (click)="registrar()" shape="round"
                size="medium">Registrarse</button>
              <button type="button" class="btn btn-outline-warning" routerLink="/Login" shape="round" size="medium">Volver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>