<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
 </div>
<form name="juego">

   <label>ingrese numero:  </label>  <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
    <h1>{{nuevoJuego.numeroIngresado}}  </h1>
 
    <h2 [hidden]="ocultarVerificar"><button  *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button></h2>
 
    <h2><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()"  class="btn btn-info btn-lg">Nuevo número secreto</button></h2>
 
    

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>


</form>
<div id="snackbar">{{Mensajes}}</div> -->
<!--         *******************                -->
<div class="fondo">

  <div class="container">
      <h2>{{nuevoJuego.nombre}}!</h2>
      <form name="juego">
          <ul>
              <li>
                  Ingrese un Número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
              </li>
              <li [hidden]="ocultarVerificar">
                <h2><button  *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button></h2>
              </li>
              <li *ngIf="nuevoJuego.numeroSecreto==0">
                <h2><button  (click)="generarnumero()"  class="btn btn-info btn-lg">Nuevo número secreto</button></h2>
              </li>
              <li>
                  <h2>
                    <h2><p *ngIf="nuevoJuego.numeroIngresado==0" ><i class="fa fa-spinner fa-spin"></i>Esperando que ingrese un número</p></h2>
                  </h2>

                  <!-- <h3 [hidden]="!nuevoJuego.gano" style="color: green;">Usted adivin&oacute; el n&uacute;mero</h3>
                  <h3 [hidden]="nuevoJuego.gano" style="color: red;">Usted a&uacute;n no gan&oacute; </h3> -->
              </li>
          </ul>

      </form>
      <div id="snackbar">{{Mensajes}}</div>
  </div>
</div>