<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../assets/imagenes/login.jpg" class="card-img" alt="login">
    </div>
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-body">
          <div class="card-header text-white bg-success">Login</div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email">email</span>
            </div>
            <input type="email" class="form-control" [(ngModel)]="email" placeholder="Ingrese su email"
              aria-label="Usuario" aria-describedby="email">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="clave">Clave</span>
            </div>
            <input type="password" class="form-control" [(ngModel)]="clave" placeholder="Ingrese su clave"
              aria-label="Clave" aria-describedby="clave" (keydown.enter)="save($event)">
          </div>
          <!-- <button type="button" class="btn btn-outline-primary" (click)="btnLogin()" shape="round" size="medium">Ingresar</button> -->
          <button *ngIf="logeando" type="button" class="btn btn-outline-success" (click)="MoverBarraDeProgreso()">Ingresar</button>
          <button type="button" class="btn btn-outline-warning" routerLink="/Registro" shape="round" size="medium">Registrarse</button>
          <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar"
              aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho">
              {{progresoMensaje}} - {{progreso}}%
            </div>
          </div>
          <hr>
          <div>
            <button type="button" class="btn btn-outline-primary" (click)="loguearUsuario('admin')" shape="round"
              size="medium">Admin</button>
            <button type="button" class="btn btn-outline-primary" (click)="loguearUsuario('jugador1')" shape="round"
              size="medium">Jugador1</button>
            <button type="button" class="btn btn-outline-primary" (click)="loguearUsuario('jugador2')" shape="round"
              size="medium">Jugador2</button>
            <button type="button" class="btn btn-outline-primary" (click)="loguearUsuario('jugador3')" shape="round"
              size="medium">Jugador3</button>
            <button type="button" class="btn btn-outline-primary" (click)="loguearUsuario('jugador4')" shape="round"
              size="medium">Jugador4</button>
            <button type="button" class="btn btn-outline-primary" (click)="loguearUsuario('jugador5')" shape="round"
              size="medium">Jugador5</button>
            <button type="button" class="btn btn-outline-primary" (click)="loguearUsuario('jugador6')" shape="round"
              size="medium">Jugador6</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container" >
  <div class="jumbotron" style="padding:50px;">
    <form action="return true;">
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario.email"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="usuario.password" name="psw" required>
            
        <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <input type="checkbox" checked="checked"> Recordar mis datos
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" routerLink="/Principal">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
     
    </form>
  </div>
</div> -->